.container {
  margin: 20px 70px 20px 70px;
  padding-left: 20px;
  padding-right: 20px; 
  padding-bottom: 10px;
  background-color: #EBECED;
  border-radius: 25px;
  border: 1px solid #D7D8D9;
}

#heading {
  text-align: center;
  font-size: 50px;
  font-style: italic;
}


#mountain {
  display: block;
  text-align: center;
}